<% include partials/header %>
<div class="container">
<div class="jumbotron">  <div class="container">
<h1>Edit your comment on <%= details.name %>.</h1>
<p>Please enter your comment below.</p>
<p><a class="btn btn-primary btn-large" href="/campgrounds/<%= details._id %>">Go Back to the Campground</a></p>
</div></div>
<div class="row">
<div style="width: 40%; margin: 0 auto;">
<form method="post" action="/campgrounds/<%= details._id %>/comments/<%= comment._id %>?_method=PUT">

<div class="form-group">
  <label for="name">Your Comment</label>
  <input type="text" class="form-control" id="name" name="comment[text]" value="<%= comment.text %>">
</div>

<button type="submit" class="btn btn-primary">Edit Comment</button>
</form>
</div>
</div>
</div>


<% include partials/footer %>
